@model IEnumerable<SkyDreaming.Models.Angel>
@*Για να ξέρει το view με ποιό model δουλεύω*@


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Name</th>
            <th>Kg</th>
            <th>Height</th>
            <th>HairColor</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ang in Model)
        {
            if (ang.Age > 25)      // Conditional Rendering
            {
                <tr class="bg-danger">
                    <td><img width="70" src="@ang.ImageUrl" /></td>
                    <td>@ang.Id</td>
                    <td>@ang.Name</td>
                    <td>@ang.Kg</td>
                    <td>@ang.Height</td>
                    <td>@ang.HairColor</td>
                    <td>@ang.Age</td>
                    <td>
                        <button class="btn btn-primary">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
            else
            {
                <tr class="bg-success">
                    <td><img width="70" src="@ang.ImageUrl" /></td>
                    <td>@ang.Id</td>
                    <td>@ang.Name</td>
                    <td>@ang.Kg</td>
                    <td>@ang.Height</td>
                    <td>@ang.HairColor</td>
                    <td>@ang.Age</td>
                    <td>
                        <button class="btn btn-primary">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }

        }

    </tbody>
</table>
