@model  SkyDreaming.Models.IGmodel


<img src="@Model.ImageUrl" width="300" alt="Alternative text" />
<br />
<strong>Name:</strong>
<span>@Model.Name</span>
<br />
<strong>Age:</strong>
<span>@Model.Age</span>
<br />
<strong>Kg:</strong>
<span>@Model.Kg</span>
<br />
<strong>Height</strong>
<span>@Model.Height</span>
<br />
<strong>HairColor:</strong>
<span>@Model.HairColor</span>
<br />
<br />
<a class="btn btn-info"href="/IGmodel/Index">Go Back</a>