@model IEnumerable<SkyDreaming.Models.IGmodel>
@*Για να ξέρει το view με ποιό model δουλεύω*@
@using SkyDreaming.Models.Enums;

@{ViewBag.title = "HolyLand";

}

@if (TempData["message"] != null)
{
    <div class="alert-success alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success! </strong>@TempData["message"]
    </div>
}
<br />
<br />

<div>

    <form>
        @{
            var hairColors = Enum.GetNames(typeof(HairColor));
        }

        <select name="searchHairColor">
            <option>All</option>
            @foreach (var HairColor in hairColors)
            {

                <option>@HairColor</option>
            }

        </select>

        <input type="number" name="searchMin" value="@(ViewBag.currentMin is null ? @ViewBag.MinAge : ViewBag.currentMin)" placeholder="Choose min age" min="ViewBag.MinAge"/>
        <input type="number" name="searchMax" value="ViewBag.MaxAge" placeholder="Choose max age" max="ViewBag.MaxAge"/>

        <input type="text" name="searchName" value="@(ViewBag.currentMax is null ? @ViewBag.MaxAge : ViewBag.currentMax)" placeholder="Search name" />
        <input type="submit" value="Search an IGmodel" />
    </form>

</div>



<a class="btn btn-primary" href="/IGmodel/Create">Create IGmodel</a>


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Name</th>
            <th>Kg</th>
            <th>Height</th>
            <th>HairColor</th>
            <th>Age</th>
            <th>product</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ang in Model)
        {
            if (ang.Age > 25)      // Conditional Rendering
            {
                <tr class="bg-danger">
                    <td><img width="120" height="120" src="@ang.ImageUrl" /></td>
                    <td>@ang.Id</td>
                    <td>@ang.Name</td>
                    <td>@ang.Kg</td>
                    <td>@ang.Height</td>
                    <td>@ang.HairColor</td>
                    <td>@ang.Age</td>
                    <td>@ang.product.Name</td>
                    <td>
                        <a class="btn btn-primary" href="/IGmodel/Edit?id=@ang.Id">Edit</a>
                        @*<a class="btn btn-danger" href="/IGmodel/Delete?id=@ang.Id">Delete</a>*@
                        <a class="btn alert-info" href="/IGmodel/Details?id=@ang.Id">Details</a>
                        <form action="/IGmodel/delete" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@ang.Id" />
                            <input class="btn btn-danger" type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            }
            else
            {
                <tr class="bg-success">
                    <td><img width="120" height="100" src="@ang.ImageUrl" /></td>
                    <td>@ang.Id</td>
                    <td>@ang.Name</td>
                    <td>@ang.Kg</td>
                    <td>@ang.Height</td>
                    <td>@ang.HairColor</td>
                    <td>@ang.Age</td>
                    <td>@ang.product.Name</td>
                    <td>
                        <a class="btn btn-primary" href="/IGmodel/Edit?id=@ang.Id">Edit</a>
                        @*<a class="btn btn-danger" href="/IGmodel/Delete?id=@ang.Id">Delete</a>*@
                        <a class="btn alert-info" href="/IGmodel/Details?id=@ang.Id">Details</a>

                        <form action="/IGmodel/delete" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@ang.Id" />
                            <input class="btn btn-danger" type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            }

        }

    </tbody>
</table>
