@model IEnumerable<SkyDreaming.Models.Room>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Cost
            </th>
            <th>
            </th>
            <th>
                Angels
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>
                    @room.Name
                </td>
                <td>
                    @room.Cost
                </td>
                <td>
                    <img width="200" src="@room.UrlImage" />
                </td>
                <td>
                    <ul>
                        @foreach (var ang in room.Angels)
                        {
                            <li>@ang.Name</li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.ActionLink("Update", "Edit", new { id = room.Id })
                    @Html.ActionLink("Details", "Details", "Room", new { id = room.Id }, null)                 
                    @Html.ActionLink("Delete", "Delete", new { id = room.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>

</table>
