@model IEnumerable<SkyDreaming.Models.product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Cost
            </th>
            <th>
            </th>
            <th>
                IGmodels
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @product.Name
                </td>
                <td>
                    @product.Cost
                </td>
                <td>
                    <img width="120" height="100" src="@product.UrlImage" />
                </td>
                <td>
                    <ul>
                        @foreach (var ang in product.IGmodels)
                        {
                            <li>@ang.Name</li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.ActionLink("Update", "Edit", new { id = product.Id })
                    @Html.ActionLink("Details", "Details", "product", new { id = product.Id }, null)                 
                    @Html.ActionLink("Delete", "Delete", new { id = product.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>

</table>
